p {
    color:white;
}

h2 {
    color:blueviolet;
}

div {
    background-color: purple;
}

img {
    border-radius: 10px;
    position: relative;
    left: 30px;
}

div1 {
    display: inline-block;
    background-color: purple;
    border: 10px solid black;
    padding: 35px;
    margin: 30px;
}

div2 {
    background-color: purple;
    border: 10px solid black;
    padding: 30px;
    margin: 30px;
}